<header class="masthead">
  <h1 class="masthead-heading">Tweetful</h1>
  <p class="masthead-intro">
    Making The Internet a Little More Thoughtful
  </p>
</header>

<div class="info-container">
  <section class="info">
    <header>
      <h2>About Tweeful</h2>
    </header>
    <p>
      Donec sed odio dui. Nulla vitae elit libero, a pharetra augue. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Maecenas faucibus mollis interdum.
    </p>
  </section>

<section class="info">
  <header>
    <h2>What Makes us Different</h2>
  </header>
  <p>
    Cratic med odio dui. Fulla vitae elit libero, a pharetra augue. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Maecenas faucibus mollis interdum.
  </p>
</section>

<section class="info">
  <header>
    <h2>Company History</h2>
  </header>
  <p>
    History sed odio dui. Nulla vitae elit libero, a pharetra augue. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Maecenas faucibus mollis interdum.
  </p>
</section>

</div>

<footer>
  Contact us: <span>admin@styel.xyz</span>
</footer>
